.product__wrapper {
  &:hover {
    background-color: #fafafa;
  }
  td {
    padding: 10px;

    input {
      border: none;
      outline: none;
    }

    .buttons__wrapper {
      display: flex;
      justify-content: center;
      .remove__btn,
      .edit__btn {
        margin-right: 10px;
        cursor: pointer;
        font-size: 20px;
      }
    }
  }
}
