.supply__block {
  border-collapse: collapse;
  width: 100%;
  .header {
    background-color: #fafafa;
    .header__item {
      text-align: left;
      font-weight: 600;
      padding: 15px 10px 15px 5px;
    }

    .header__item:last-child {
      width: 183px;
    }
  }
}
