.product__block {
  &:hover {
    background-color: #fafafa;
  }

  td {
    padding: 10px;
    &:last-child {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
    }
  }
}
