.sales__block {

  .search__input {
    width: 40%;
    margin-bottom: 10px;
  }
  
  .sales__wrapper {
    border-collapse: collapse;
    border-radius: 10px;
    width: 100%;
    .header {
      background-color: #fafafa;


      .header__item {
        text-align: left;
        font-weight: 600;
        padding: 15px 10px 15px 5px; 
        cursor: pointer;
      }
    }
  }

  .save__report__button {
    margin-top: 20px;
    margin-right: 80px;
    float: right;
  }
}
