.header__wrapper {
  grid-area: header;

  max-width: 1280px;
  margin: 0 auto;

  .account__header {
    display: flex;
    justify-content: flex-end;
    .email__info {
      display: flex;
      align-items: center;
    }
  }
}
