.board__block {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-width: 310px;
  min-height: 130px;
  padding: 20px;
  border-radius: 10px;

  color: white;
  // background: rgb(186,94,243);
  // background: linear-gradient(56deg, rgba(186,94,243,1) 0%, rgba(79,81,232,1) 53%, rgba(63,219,255,1) 100%);
  background: rgb(186,94,243);
  background: linear-gradient(56deg, rgba(186,94,243,1) 0%, rgba(79,81,232,1) 82%, rgba(63,147,255,1) 100%);

  border: 1px solid #f2f2f2;

  .board__icon {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    background-color: rgba(79,81,232,0.5);
    width: 50px;
    height: 50px;
    border-radius: 10px;

  }

  .board__title {
    color: white;
    opacity: 0.5;
  }

  .board__index {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .info__icon {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
