.block__wrapper {
    width: 20%;
    div {
        display: flex;
        margin-bottom: 10px;
        width: 100%;
        input {
            width: 100%;
            font-size: 16px;
        }

        .select__category {
            font-size: 16px;
        }

        button {
            margin-top: 20px;
        }
    }
}