.chart__wrapper {
    grid-area: content;

    margin: 0 auto;
    margin-right: 200px;

    .sub__charts {
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
    }

    .dashboard {
        justify-content: space-around;
        flex-wrap: wrap;
        display: flex;
        margin-bottom: 30px;
    }
}