.supply__block {
    &:hover {
        background-color: #fafafa;
    }
    td {
        padding: 10px;

        .status__success {
            display: inline-block;
            width: 16px;
            height: 16px;
            border-radius: 100%;
            background-color: green;
        }

        .status__process {
            display: inline-block;
            width: 16px;
            height: 16px;
            border-radius: 100%;
            background-color: yellow;
        }
    }
}